
.budget-div{
    text-align: center;
    display: inline-grid;
    padding: 5vw;
    border: 5px white;
  }
  
  input{
    margin: 1vw;
    animation: glow 5s;
  }
  
  @keyframes glow{
    from{
      box-shadow:0 0 5px 5px rgb(251, 249, 230)
    }
    to{
      box-shadow:0 0 -5px 5px #d1c6d1
    }
  }
  
  
  
  .landingContainer {
       color: #6699CC;
       font-size: 22px;
       font-weight: bold;
       text-align: center;
       -webkit-font-smoothing: antialiased;
       
       display: flex;
       align-items: center;
       justify-content: center;
       height: 32em;
       background-color: #C594C5;
       background-size: cover;
       background-position: center;
       background-image: linear-gradient(rgba(lightblue, 0.4), rgba(plum, 0.4)),
                         url('http://www.monaco-seattle.com/images/1700-960/istock-000074287051-full-3cf971d0.jpg');
  }
  
  .fancy-button {
       position: relative;
       display: block;
       cursor: pointer;
       perspective: 1800px;
       .fancy-flipper {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform-style: preserve-3d;
            transform: rotateX(-90deg);
            transition: transform 0.3s ease;
       }
       .fancy-front,
       .fancy-back {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            backface-visibility: hidden;
            svg {
                 display: block;
            }
       }
       &:hover {
            .fancy-flipper {
                 transform: rotateX(0deg);
            }
       }
       &:active {
            .fancy-flipper {
                 transform: rotateX(0deg) scale(0.95);
                 transition: transform 0.05s ease;
            }
       }
       .button-text {
            letter-spacing: 0.01em;
            font-family: 'Source Serif Pro', serif;
       }
  }